.sidebar {
    width: 250px;
    display: flex ;
    position: fixed; /* or position: relative; depending on your layout */
    left: 5px;
    top: 0px; 
    bottom: 0;
    background-color: #333;
    color: #fff;
    padding: 2em;
}

.navMenu {
    list-style: none;
    padding: 50;
    margin: 0;
}

.navList {
    padding:2;
}

.navItem {
    margin-bottom: 1em;
}

.navItem a {
    color: #fff;
    text-decoration: none;
}
.navItem a:hover {
    color: rgb(14, 204, 0);
  }
