.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    color: #fff;
    background-color: #222;
    /* Dark background color */
    background-image: url('/assets/images/background-pattern.png');
    /* Background pattern */
    background-size: cover;
}

.contactInfo {
    margin-bottom: 40px;
    text-align: center;
}

.contactInfo p {
    margin: 10px 0;
}

.socialLinks {
    display: flex;
}

.link {
    margin-right: 20px;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

.link:hover {
    transform: translateY(-5px);
    /* Move up on hover */
}

.link:last-child {
    margin-right: 0;
}

.link img {
    border-radius: 50%;
    /* Rounded border for social icons */
}