.container {
    display: flex;
    height: 100vh;
    background: #1a1a1a;
}

.mainContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 500px;
    flex-direction: row-reverse;
}
.descriptionTextBox {
    background-color: #333;
    border: 1px solid #444;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: left;
}

.profileAndDetails {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.details {
    flex: 1;
    padding-right: 20px;
}

.profilePicContainer {
    flex-basis: 310px;
    height: 670px;
    position: relative;
}


.typewriter {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}



.textbox {
    background-color: #333;
    border: 1px solid #444;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: left;
}

.skills,
.projects {
    margin-top: 20px;
}

.skill,
.project {
    margin-bottom: 10px;
}

.skillBar {
    background: grey;
    height: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.skillLevel {
    background: #4caf50;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 2s ease-out;
}