.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.project {
    width: 30%;
    margin: 20px;
    padding: 20px;
    background-color: #160606;
    border-radius: 8px;
}

.projectName {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.projectDescription {
    margin-bottom: 15px;
}

.projectLink {
    display: block;
    color: #0070f3;
    text-decoration: none;
}
